---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./priority-class.yaml
  - ./traefik
  - ./wildcard-certificate
  - ./blocky
  - ./error-pages
  # - ddns
  - ./k8s-gateway
  # - zero-trust
