---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-navidrome-v1
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
