# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
sonarr:
  standard:
    base_url: http://sonarr.media.svc.cluster.local:80
    api_key: ${SONARR_API_KEY}
    delete_old_custom_formats: true
    quality_definition:
      type: series
    quality_profiles:
      - name: WEB 1080p
        reset_unmatched_scores:
          enabled: true
      - name: WEB 1080p - French
        reset_unmatched_scores:
          enabled: true
      - name: WEB 2160p
        reset_unmatched_scores:
          enabled: true
      - name: WEB 2160p - French
        reset_unmatched_scores:
          enabled: true
      - name: Remux 1080p - Anime
        reset_unmatched_scores:
          enabled: true
      - name: Remux 1080p - VOSTFR Anime
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      # Common
      - assign_scores_to:
          - name: WEB 1080p
          - name: WEB 1080p - French
          - name: WEB 2160p
          - name: WEB 2160p - French
        trash_ids:
          # Unwanted
          - 85c61753df5da1fb2aab6f2a47426b09  # BR-DISK
          - 9c11cd3f07101cdba90a2d81cf0e56b4  # LQ
          # Misc
          - eb3d5cc0a2be0db205fb823640db6a3c  # Repack v2
          - 44e7c4de10ae50265753082e5dc76047  # Repack v3
          - ec8fa7296b64e8cd390a1600981f3923  # Repack/Proper
          # Streaming Services
          - d660701077794679fd59e8bdf4ce3a29  # AMZN
          - f67c9ca88f463a48346062e8ad07713f  # ATVP
          - 36b72f59f4ea20aad9316f475f2d9fbb  # DCU
          - 89358767a60cc28783cdc3d0be9388a4  # DSNP
          - 7a235133c87f7da4c8cccceca7e3c7a6  # HBO
          - a880d6abc21e7c16884f3ae393f84179  # HMAX
          - f6cce30f1733d5c8194222a7507909bb  # HULU
          - 0ac24a2a68a9700bcb7eeca8e5cd644c  # iT
          - d34870697c9db575f17700212167be23  # NF
          - b2b980877494b560443631eb1f473867  # NLZ
          - 1656adc6d7bb2c8cca6acfb6592db421  # PCOK
          - c67a75ae4a1715f2bb4d492755ba4195  # PMTP
          - 3ac5d84fce98bab1b531393e9c82f467  # QIBI
          - c30d2958827d1867c73318a5a2957eb1  # RED
          - ae58039e1319178e6be73caab5c42166  # SHO
          - 1efe8da11bfd74fbbcd4d8117ddb9213  # STAN
          - b0d6195c23ae254932da00512db7e8a8  # RTBF
          - 5d2317d99af813b6529c7ebf01c83533  # VDL
          - 77a7b25585c18af08f60b1547bb9b4fb  # CC
          # HQ Source Groups
          - e6258996055b9fbab7e9cb2f75819294  # WEB Tier 01
          - 58790d4e2fdcd9733aa7ae68ba2bb503  # WEB Tier 02
          - d84935abd3f8556dcd51d4f27e22d0a6  # WEB Tier 03
          - d0c516558625b04b363fa6c5c2c7cfd4  # WEB Scene
      # Common 1080p
      - assign_scores_to:
          - name: WEB 1080p
          - name: WEB 1080p - French
        trash_ids:
          # Unwanted
          - 47435ece6b99a0b477caf360e79ba0bb  # x265 (HD)
      # Common 2160p
      - assign_scores_to:
          - name: WEB 2160p
          - name: WEB 2160p - French
        trash_ids:
          # HDR Formats
          - 7878c33f1963fefb3d6c8657d46c2f0a  # DV HDR10
          - 6d0d8de7b57e35518ac0308b0ddf404e  # DV
          - 1f733af03141f068a540eec352589a89  # DV HLG
          - 27954b0a80aab882522a88a4d9eae1cd  # DV SDR
          - a3d82cbef5039f8d295478d28a887159  # HDR10Plus
          - 3497799d29a085e2ac2df9d468413c94  # HDR10
          - 3e2c4e748b64a1a1118e0ea3f4cf6875  # HDR
          - bb019e1cd00f304f80971c965de064dc  # HDR (undefined)
          - 2a7e3be05d3861d6df7171ec74cad727  # PQ
          - 17e889ce13117940092308f48b48b45b  # HLG
          - 9b27ab6498ec0f31a3353992e19434ca  # DV (WEBDL)
          - 0dad0a507451acddd754fe6dc3a7f5e7  # HDR10+ Boost
          # Optional UHD
          - 2016d1676f5ee13a5b7257ff86ac9a93  # SDR
      # Common French
      - assign_scores_to:
          - name: WEB 1080p - French
          - name: WEB 2160p - French
        trash_ids:
          # Unwanted
          - 3ba797e5dc13af4b8d9bb25e83d90de2  # FR LQ
          # French Audio Versions
          - 2c29a39a4fdfd6d258799bc4c09731b9  # VFF
          - 7ae924ee9b2f39df3283c6c0beb8a2aa  # VOF
          - b6816a0e1d4b64bf3550ad3b74b009b6  # VFI
          - 34789ec3caa819f087e23bbf9999daf7  # VF2
          - 7a7f4e4f58bd1058440236d033a90b67  # VFQ
          - 82085412d9a53ba8d8e46fc624eb701d  # VQ
          - 0ce1e39a4676c6692ce47935278dac76  # VFB
          - 07a32f77690263bb9fda1842db7e273f  # VOSTFR
          # French Speaking Streaming Services
          - f27d46a831e6b16fa3fee2c4e5d10984  # CANAL+
          - 0455d6519a550dbf648c97b56e7231d2  # SALTO
          - b0d6195c23ae254932da00512db7e8a8  # RTBF
          # Multi Audio
          - 2f6e84efc47246ec9071e311e71c4953  # Multi-Audio
          - 4721382d9ee05f1b4967a25e75072911  # French Audio
          - 7982e39789f17864f57b11f1996844f4  # Multi-French
          # HQ Source Groups
          - ddb8eaa9c85a549c50034d280539d54d  # FR WEB Tier 01
          - a4c51febd4d8b2a0db10a3c974f21d92  # FR WEB Tier 02
          - dbfc0a4b5cb4cbd693311c4482ae9683  # FR WEB Tier 03
          - 2f3422339d185eb227a324644a2fbfca  # FR Scene Groups
      # Common Anime
      - assign_scores_to:
          - name: Remux 1080p - Anime
          - name: Remux 1080p - VOSTFR Anime
        trash_ids:
          # Anime CF/Scoring
          - 949c16fe0a8147f50ba82cc2df9411c9  # Anime BD Tier 01 (Top SeaDex Muxers)
          - ed7f1e315e000aef424a58517fa48727  # Anime BD Tier 02 (SeaDex Muxers)
          - 096e406c92baa713da4a72d88030b815  # Anime BD Tier 03 (SeaDex Muxers)
          - 30feba9da3030c5ed1e0f7d610bcadc4  # Anime BD Tier 04 (SeaDex Muxers)
          - 545a76b14ddc349b8b185a6344e28b04  # Anime BD Tier 05 (Remuxes)
          - 25d2afecab632b1582eaf03b63055f72  # Anime BD Tier 06 (FanSubs)
          - 0329044e3d9137b08502a9f84a7e58db  # Anime BD Tier 07 (P2P/Scene)
          - c81bbfb47fed3d5a3ad027d077f889de  # Anime BD Tier 08 (Mini Encodes)
          - e0014372773c8f0e1bef8824f00c7dc4  # Anime Web Tier 01 (Muxers)
          - 19180499de5ef2b84b6ec59aae444696  # Anime Web Tier 02 (Top FanSubs)
          - e6258996055b9fbab7e9cb2f75819294  # WEB Tier 01
          - 58790d4e2fdcd9733aa7ae68ba2bb503  # WEB Tier 02
          - c27f2ae6a4e82373b0f1da094e2489ad  # Anime Web Tier 03 (Official Subs)
          - d84935abd3f8556dcd51d4f27e22d0a6  # WEB Tier 03
          - 4fd5528a3a8024e6b49f9c67053ea5f3  # Anime Web Tier 04 (Official Subs)
          - 29c2a13d091144f63307e4a8ce963a39  # Anime Web Tier 05 (FanSubs)
          - dc262f88d74c651b12e9d90b39f6c753  # Anime Web Tier 06 (FanSubs)
          - b4a1b3d705159cdca36d71e57ca86871  # Anime Raws
          - e3515e519f3b1360cbfc17651944354c  # Anime LQ Groups
          - 15a05bc7c1a36e2b57fd628f8977e2fc  # AV1
          - 026d5aadd1a6b4e550b134cb6c72b3ca  # Uncensored
          - d2d7b8a9d39413da5f44054080e028a3  # v0
          - 273bd326df95955e1b6c26527d1df89b  # v1
          - 228b8ee9aa0a609463efca874524a6b8  # v2
          - 0e5833d3af2cc5fa96a0c29cd4477feb  # v3
          - 4fc15eeb8f2f9a749f918217d4234ad8  # v4
          - 44a8ee6403071dd7b8a3a8dd3fe8cb20  # VRV
          - b2550eb333d27b75833e25b8c2557b38  # 10bit
          - 418f50b10f1907201b6cfdf881f467b7  # Anime Dual Audio
          - 9c14d194486c4014d422adc64092d794  # Dubs Only
          - 07a32f77690263bb9fda1842db7e273f  # VOSTFR
          # Anime Streaming Services
          - d660701077794679fd59e8bdf4ce3a29  # AMZN
          - 7dd31f3dee6d2ef8eeaa156e23c3857e  # B-Global
          - 4c67ff059210182b59cdd41697b8cb08  # Bilibili
          - 3e0b26604165f463f3e8e192261e7284  # CR
          - 89358767a60cc28783cdc3d0be9388a4  # DSNP
          - 1284d18e693de8efe0fe7d6b3e0b9170  # FUNi
          - 570b03b3145a25011bf073274a407259  # HIDIVE
          - d34870697c9db575f17700212167be23  # NF
          # - 44a8ee6403071dd7b8a3a8dd3fe8cb20  # VRV
      - assign_scores_to:
          - name: Remux 1080p - VOSTFR Anime
        trash_ids:
          # Unwanted
          - 3ba797e5dc13af4b8d9bb25e83d90de2  # FR LQ
          # French Anime Streaming Services
          - d54cd2bf1326287275b56bccedb72ee2  # ADN
          - e5e6405d439dcd1af90962538acd4fe0  # WKN
          # HQ Source Groups
          - db13a377f7afb29975ea39470434d2ef  # FR Anime Tier 01
          - 4e6134a384dbc0ef166234cc0e45d26d  # FR Anime Tier 02
          - 2f3422339d185eb227a324644a2fbfca  # FR Scene Groups
          - 44b6c964dad997577d793fd004a39224  # FR Anime FanSub
          - ddb8eaa9c85a549c50034d280539d54d  # FR WEB Tier 01
          - a4c51febd4d8b2a0db10a3c974f21d92  # FR WEB Tier 02
          - dbfc0a4b5cb4cbd693311c4482ae9683  # FR WEB Tier 03
      - assign_scores_to:
          - name: Remux 1080p - VOSTFR Anime
            score: 101
        trash_ids:
          # VOSTFR
          - 07a32f77690263bb9fda1842db7e273f  # VOSTFR

      - trash_ids:
          # Streaming Services
          - d660701077794679fd59e8bdf4ce3a29 # AMZN
          - f67c9ca88f463a48346062e8ad07713f # ATVP
          - 36b72f59f4ea20aad9316f475f2d9fbb # DCU
          - 89358767a60cc28783cdc3d0be9388a4 # DSNP
          - 7a235133c87f7da4c8cccceca7e3c7a6 # HBO
          - a880d6abc21e7c16884f3ae393f84179 # HMAX
          - f6cce30f1733d5c8194222a7507909bb # HULU
          - 0ac24a2a68a9700bcb7eeca8e5cd644c # iT
          - d34870697c9db575f17700212167be23 # NF
          - 1656adc6d7bb2c8cca6acfb6592db421 # PCOK
          - c67a75ae4a1715f2bb4d492755ba4195 # PMTP
          - 3ac5d84fce98bab1b531393e9c82f467 # QIBI
          - c30d2958827d1867c73318a5a2957eb1 # RED
          - ae58039e1319178e6be73caab5c42166 # SHO
          # Allowed Scene groups and tiered P2P groups
          - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene (allowed Scene groups)
          - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
          - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
          - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03
          # Repacks / Propers
          - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper
          - eb3d5cc0a2be0db205fb823640db6a3c # Repack v2
          - 44e7c4de10ae50265753082e5dc76047 # Repack v3
          # HDR Metadata
          - 7878c33f1963fefb3d6c8657d46c2f0a # DV HDR10
          - 1f733af03141f068a540eec352589a89 # DV HLG
          - 27954b0a80aab882522a88a4d9eae1cd # DV SDR
          - 6d0d8de7b57e35518ac0308b0ddf404e # DV
          - bb019e1cd00f304f80971c965de064dc # HDR (undefined)
          - 3e2c4e748b64a1a1118e0ea3f4cf6875 # HDR
          - 3497799d29a085e2ac2df9d468413c94 # HDR10
          - a3d82cbef5039f8d295478d28a887159 # HDR10+
          - 17e889ce13117940092308f48b48b45b # HLG
          - 2a7e3be05d3861d6df7171ec74cad727 # PQ
          # Unwanted
          - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
          - 9c14d194486c4014d422adc64092d794 # Dubs Only
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
          - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140 # Retags
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
        assign_scores_to:
          - name: Any
          - name: HD
          - name: SD
