---
// Component Imports
import Tour from 'src/components/Tour.astro';
// You can import components from any supported Framework here!
import PreactCounter from 'src/components/PreactCounter.jsx';
import ReactCounter from 'src/components/ReactCounter.jsx';
import SolidCounter from 'src/components/SolidCounter.jsx';
import SvelteCounter from 'src/components/SvelteCounter.svelte';
import VueCounter from 'src/components/VueCounter.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'BloopySphere Leaf';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
        @import "../styles/global.css";
        @import "../styles/home.css";
    </style>

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>

        <Tour />

        <!--

        You can also use imported framework components directly in your markup!

        Note: by default, these components are NOT interactive on the client.
        The `:visible` directive tells Astro to make it interactive.

        See https://docs.astro.build/core-concepts/component-hydration/

        -->

        <PreactCounter client:visible />

        <ReactCounter client:visible />

        <SolidCounter client:visible />

        <SvelteCounter client:visible />

        <VueCounter client:visible />
    </main>
</body>
</html>
