---
# https://rancher.com/docs/k3s/latest/en/installation/install-options/server-config/
# https://github.com/PyratLabs/ansible-role-k3s

# (bool) Specify if a host (or host group) are part of the control plane
k3s_control_node: true

# (dict) k3s settings for all control-plane nodes
k3s_server:
  node-ip: "{{ ansible_host }},{{ ansible_default_ipv6.address }}"
  tls-san:
    # Should be the same as kube-vip address
    - "{{ k3s_registration_address }}"
    - "{{ ansible_default_ipv6.address }}"
  # Disable Docker - this will use the default containerd CRI
  docker: false
  flannel-backend: "none" # This needs to be in quotes
  disable:
    # Disable flannel - replaced with Calico
    - flannel
    # Disable local-path-provisioner - installed with Flux
    - local-storage
    # Disable metrics-server - installed with Flux
    - metrics-server
    # Disable servicelb - replaced with metallb and installed with Flux
    - servicelb
    # Disable traefik - replaced with ingress-nginx and installed with Flux
    - traefik
  disable-network-policy: true
  disable-cloud-controller: true
  write-kubeconfig-mode: "644"
  # Network CIDR to use for pod IPs (Ipv6 link-local)
  cluster-cidr: "10.42.0.0/16,fd0d:b917:e7b6:42::/116"
  # Network CIDR to use for service IPs (Ipv6 link-local)
  service-cidr: "10.43.0.0/16,fd0d:b917:e7b6:43::/116"
  kubelet-arg:
    # Enable Alpha/Beta features
    - "feature-gates=EphemeralContainers=true,MixedProtocolLBService=true,ReadWriteOncePod=true"
    # Allow pods to be rescheduled quicker in the case of a node failure
    # https://github.com/k3s-io/k3s/issues/1264
    - "node-status-update-frequency=4s"
  kube-controller-manager-arg:
    - "node-cidr-mask-size-ipv6=116"
    # Required to monitor kube-proxy with kube-prometheus-stack
    - "bind-address=0.0.0.0"
    # Enable Alpha/Beta features
    - "feature-gates=EphemeralContainers=true,MixedProtocolLBService=true,ReadWriteOncePod=true"
    # Allow pods to be rescheduled quicker in the case of a node failure
    # https://github.com/k3s-io/k3s/issues/1264
    - "node-monitor-period=4s"
    - "node-monitor-grace-period=16s"
    - "pod-eviction-timeout=20s"
  kube-proxy-arg:
    # Enable Alpha/Beta features
    - "feature-gates=EphemeralContainers=true,MixedProtocolLBService=true,ReadWriteOncePod=true"
    # Required to monitor component with kube-prometheus-stack
    - "metrics-bind-address=0.0.0.0"
  kube-scheduler-arg:
    # Enable Alpha/Beta features
    - "feature-gates=EphemeralContainers=true,MixedProtocolLBService=true,ReadWriteOncePod=true"
    # Required to monitor component with kube-prometheus-stack
    - "bind-address=0.0.0.0"
  etcd-expose-metrics: true
  kube-apiserver-arg:
    # Enable Alpha/Beta features
    - "feature-gates=EphemeralContainers=true,MixedProtocolLBService=true,ReadWriteOncePod=true"
    # Required for HAProxy health-checks
    - "anonymous-auth=true"
    # Allow pods to be rescheduled quicker in the case of a node failure
    # https://github.com/k3s-io/k3s/issues/1264
    - "default-not-ready-toleration-seconds=20"
    - "default-unreachable-toleration-seconds=20"
