# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
.config.live.env
.config.api.env
# Ansible
xanmanning.k3s*
patrickjahns.promtail*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
provision/terraform/oci/oke/terraform.tfvars
# Sops
sops.asc
*.agekey
# Node.js
node_modules
package-lock.json

#inc.
old_lazylib_config.ini

# TEmporary
provision/talos/*
nukeRookCeph.sh
ddns_data.json
*.bakup.yaml
zwavejs2mqtt-store.zip
*.sql
test.sh
container_list_backup
emqx_user_list.txt
genSaltedPass.sh
cluster/apps/home/n8n/credentials/*
infrastructure/*
