# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
.config.live.env
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Sops
sops.asc
*.agekey
# Node.js
node_modules
package-lock.json

# TEmporary
provision/talos/*
cluster/core/rook-ceph
