---
fail_fast: false
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.28.0
    hooks:
      - args:
          - --config-file
          - .github/lint/.yamllint.yaml
        id: yamllint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: https://github.com/sirosen/fix-smartquotes
    rev: 0.2.0
    hooks:
      - id: fix-smartquotes
        exclude: "^cluster/apps/networking/traefik/middlewares/secure-headers.yaml$"

  - repo: https://github.com/k8s-at-home/sops-pre-commit
    rev: v2.1.1
    hooks:
      - id: forbid-secrets

  - repo: https://github.com/tarioch/flux-check-hook
    rev: v0.2.0
    hooks:
      - id: check-flux-helm-values
        exclude: "^cluster/core/cert-manager/cert-manager-trust/helm-release.yaml$"

  # - repo: https://github.com/koalaman/shellcheck-precommit
  #   rev: v0.7.2
  #   hooks:
  #     - id: shellcheck
  # args: ["--severity=warning"]  # Optionally only show errors and warnings
