---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/20.0.3/kubernetes/kubernetes.yml
