---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: redis-config-v1
  namespace: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
