---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: auth
resources:
  - geoip-secrets.sops.yaml
  # - redis
  - postgres
  - media
  # Additional RBAC needed for spiffe
  - rbac.yaml
 # - sp-authentik.yaml
  - helm-release.yaml
