---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./priority-class.yaml
  - ./home-assistant
  - ./zwavejs2mqtt
  - ./ser2sock
  # - ./network-ups-tools
  - ./emqx
  - ./node-red
  - ./n8n
