---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: k8s-gateway
  namespace: flux-system
spec:
  interval: 30m
  url: https://k8s-gateway.github.io/k8s_gateway/
  timeout: 3m
