---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - helm-release.yaml
  - pdb.yaml
  - gatus.yaml
configMapGenerator:
  - name: plex-profile-configmap
    files:
      - Chromecast.xml=config/Chromecast.xml
generatorOptions:
  disableNameSuffixHash: true
