---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespaces
  - ./monitoring
  - ./cert-manager
  # old: disable kube-vip after editing svc/kubernetes
  # - ./kube-system
  - ./metallb-system
  - ./rook-ceph
  - ./kubegres
  - ./tigera-operator
  - ./mysql
  - ./external-secrets
