---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: auth
resources:
  - pvc-backup.yaml
  - authentik-postgres-db.yaml
configMapGenerator:
  - name: authentik-postgres-conf
    files:
      - primary_init_script.sh
generatorOptions:
  disableNameSuffixHash: true
  labels:
    backup.kubegres.version/limited: "true"
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
