---
data_dir: /vector-data-dir
api:
  enabled: true
  address: 0.0.0.0:8686
#
# Sources
#
sources:
  kubernetes_logs:
    address: 0.0.0.0:6000
    type: vector
    version: "2"
  journal_logs:
    type: vector
    address: 0.0.0.0:6010
    version: "2"
  udm_logs:
    address: 0.0.0.0:6100
    type: syslog
    mode: "udp"
  vector_metrics:
    type: internal_metrics
#
# Transforms
#
transforms:
  kubernetes_logs_remap:
    type: remap
    inputs:
      - kubernetes_logs
    source: |
      # Standardize 'app' index
      .custom_app_name = .pod_labels."app.kubernetes.io/name" || .pod_labels.app || .pod_labels."k8s-app" || "unknown"
  udm_logs_xform:
    type: "remap"
    inputs:
      - "udm_logs"
    source: |-
      .timestamp=null
#
# Sinks
#
sinks:
  loki_journal:
    type: loki
    inputs:
      - journal_logs
    endpoint: &loki http://loki-gateway:80
    encoding:
      codec: json
    batch:
      max_bytes: 2049000
    out_of_order_action: accept
    remove_label_fields: true
    remove_timestamp: true
    labels:
      hostname: '{{ host }}'
  loki_kubernetes:
    type: loki
    inputs:
      - kubernetes_logs_remap
    endpoint: *loki
    encoding:
      codec: json
    batch:
      max_bytes: 2049000
    out_of_order_action: rewrite_timestamp
    remove_label_fields: true
    remove_timestamp: true
    labels:
      app: '{{ custom_app_name }}'
      container: '{{ kubernetes.container_name }}'
      filename: '{{ kubernetes.file }}'
      # instance: >-
      #   {{`{{ kubernetes.pod_labels.app\.kubernetes\.io/instance }}`}}
      namespace: '{{ kubernetes.pod_namespace }}'
      node: '{{ kubernetes.pod_node_name }}'
      pod: '{{ kubernetes.pod_name }}'
  loki_udm:
    type: loki
    inputs:
      - udm_logs_xform
    endpoint: *loki
    batch:
      max_bytes: 1048576
    out_of_order_action: rewrite_timestamp
    remove_label_fields: true
    remove_timestamp: true
    encoding:
      codec: json
    labels:
      hostname: '{{ host }}'
      appname: '{{ appname }}'
  prometheus_sink:
    type: prometheus_exporter
    inputs:
      - vector_metrics
    address: 0.0.0.0:9090
