---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &name traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 15.1.1
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  values:
    image:
      name: traefik
    deployment:
      kind: Deployment
      replicas: 2
      # podAnnotations:
      #   linkerd.io/inject: ingress
    podSecurityPolicy:
      enabled: true
    service:
      enabled: true
      type: LoadBalancer
      # See https://github.com/kubernetes/enhancements/pull/1992
      loadBalancerIPs:
        - "${LB_V4_TRAEFIK}"
        - "${LB_V6_TRAEFIK}"
      externalTrafficPolicy: Local
      ipFamilyPolicy: PreferDualStack
      ipFamilies:
        - "IPv4"
        - "IPv6"
      annotations:
        metallb.universe.tf/loadBalancerIPs: "${LB_V4_TRAEFIK}, ${LB_V6_TRAEFIK}"
        metallb.universe.tf/allow-shared-ip: traefik
    logs:
      general:
        format: json
        level: INFO
      access:
        enabled: true
        format: json
    ingressClass:
      enabled: true
      isDefaultClass: true
      fallbackApiVersion: v1
    ingressRoute:
      dashboard:
        enabled: false
    globalArguments:
      - "--api.insecure=true"
      - "--serverstransport.insecureskipverify=true"
      - "--providers.kubernetesingress.ingressclass=traefik"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--entryPoints.websecure.forwardedHeaders.trustedIPs=10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,104.16.0.0/13,104.24.0.0/14,108.162.192.0/18,131.0.72.0/22,141.101.64.0/18,162.158.0.0/15,172.64.0.0/13,173.245.48.0/20,188.114.96.0/20,190.93.240.0/20,197.234.240.0/22,198.41.128.0/17,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32"
    additionalArguments:
      - "--providers.kubernetesingress.ingressendpoint.ip=${LB_V4_TRAEFIK}"
      # - "--providers.kubernetesingress.ingressendpoint.ip=${LB_V6_TRAEFIK}"
      - "--providers.kubernetesingress.allowexternalnameservices=true"
      - "--providers.kubernetescrd.allowexternalnameservices=true"
      - "--providers.kubernetescrd.allowCrossNamespace=true"
    ports:
      traefik:
        expose: true
      web:
        address: 80
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
      websecure:
        tls:
          enabled: true
          options: default
          domains:
            - main: "${XYZ_DOMAIN}"
              sans:
                - "*.${XYZ_DOMAIN}"
            - bloop: "${SECRET_DOMAIN}"
              sans:
                - "*.${SECRET_DOMAIN}"
            - tyg3r: "${TGR_DOMAIN}"
              sans:
                - "*.${TGR_DOMAIN}"
          stores: networking-default@kubernetescrd
      dns-tls:
        port: 8853
        expose: true
        exposedPort: 853
        tls:
          enabled: true
          options: default
      wss:
        port: 8284
        expose: true
        exposedPort: 8084
        tls:
          enabled: true
          options: default
      mqtts:
        port: 8183
        expose: true
        exposedPort: 8883
        tls:
          enabled: true
          options: default
      ldaps:
        port: 8636
        expose: true
        exposedPort: 636
        tls:
          enabled: true
          options: default
      metrics:
        port: 8082
        expose: true
        exposedPort: 8082
    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
        sniStrict: true
      plex:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
    pilot:
      enabled: false

    experimental:
      http3:
        enabled: true
      plugins:
        enabled: false

    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 600Mi

    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - *name
            topologyKey: kubernetes.io/hostname
