---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - default
  - kube-system
  - networking
  # - system-upgrade
  - storage
  - auth
  - media
  - monitoring
  - flux-system
  - velero
  # - cert-manager
  # - calico-system
  - vpn-gateway
  - downloads
  - rook-ceph
  - home
  # - database
