# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik chart=traefik-crds
      chart: traefik-crds
      version: 1.14.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    traefik: true
    gatewayAPI: true
    hub: true
