---
apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Alert
metadata:
  name: grafana
  namespace: flux-system
spec:
  providerRef:
    name: grafana
  eventSeverity: info
  eventSources:
    - kind: GitRepository
      name: "*"
      namespace: flux-system
---
apiVersion: notification.toolkit.fluxcd.io/v1
kind: Provider
metadata:
  name: grafana
  namespace: flux-system
spec:
  type: grafana
  address: "http://grafana.monitoring/api/annotations"
  secretRef:
    name: grafana-auth-flux
