---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
configMapGenerator:
  - name: bloopyboi-config
    files:
      - config.yaml=config.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: enabled
resources:
  - helm-release.yaml
  - secrets.sops.yaml
