---
name: Deploy Keycloak Theme to GHCR

# Run workflow on tags starting with v (eg. v2, v1.2.0)
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - static/themes/*

env:
  registry: ghcr.io
  themeName: bloopnet_theme
  dockerfile_path: ./Dockerfiles/keycloak-theme.Dockerfile

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.registry }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: ${{ env.dockerfile_path }}
          push: true # Will only build if this is not here
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.themeName }}:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/${{ env.themeName }}:latest
