---
name: Publish Docs

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
      - "docs-*"
    paths:
      - ".github/workflows/docs-publish.yaml"
      - "mkdocs.yaml"
      - "docs/**"

jobs:
  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: "README.md docs/**"
          ignore_files: "docs/_*"
          config_file: ".github/markdownlint.config.yaml"

  markdown-link-check:
    name: Markdown link check
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: ".github/markdown-link-check_config.json"
          file-path: "./README.md"

  deploy:
    name: Deploy to GitHub Pages
    if: github.event.pull_request.head.repo.fork == false
    runs-on: ubuntu-20.04
    needs:
      - markdownlint
      - markdown-link-check

    steps:
      - name: Get bloopy-boi token
        id: get-app-token
        uses: getsentry/action-github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.get-app-token.outputs.token }}

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Configure Git
        run: |
          git config user.name "bloopy-boi[bot]"
          git config user.email "bloopy-boi[bot]@users.noreply.github.com"
      - run: |
          pip install \
            mkdocs>=1.1 \
            mkdocs-macros-plugin >=0.5 \
            mkdocs-material >=1.0 \
            mkdocs-minify-plugin>=0.3 \
            mkdocs-redirects>=1.0
      - run: mkdocs gh-deploy --config-file ./mkdocs.yaml --force
      - run: mkdocs --version
