---
name: Helm Release Differ

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - "cluster/**.yaml"

env:
  # Currently no way to detect automatically
  DEFAULT_BRANCH: main
  BOT_USERNAME: "bloopy-boi[bot]"

jobs:
  detect-file-changes:
    name: Detect File Changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          list-files: json
          filters: |
            yaml:
              - added|modified: "**/helm-release.yaml"
    outputs:
      yaml_files: ${{ steps.filter.outputs.yaml_files }}

  helm-release-differ:
    name: Helm Release Differ
    runs-on: ubuntu-latest
    needs: detect-file-changes
    strategy:
      matrix:
        file: ${{ fromJSON(needs.detect-file-changes.outputs.yaml_files) }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Checkout default branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: "${{ env.DEFAULT_BRANCH }}"
          path: default
      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.18.4
      - name: Helm Release Differ
        id: diff
        run: |
          chmod +x .github/scripts/helm-release-differ.sh
          diff=$(.github/scripts/helm-release-differ.sh --source-file "default/${{ matrix.file }}" --target-file "${{ matrix.file }}" --remove-common-labels)
          echo "${diff}"
          # diff="${diff//'%'/'%25'}"
          # diff="${diff//$'\n'/'%0A'}"
          # diff="${diff//$'\r'/'%0D'}"
          {
              echo 'diff<<EOF'
              echo "${diff}"
              echo 'EOF'
          } >> $GITHUB_OUTPUT
      - name: Find Comment
        uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4
        id: find-comment
        with:
          issue-number: "${{ github.event.pull_request.number }}"
          comment-author: "${{ env.BOT_USERNAME }}"
          body-includes: helm-release.yaml
      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          comment-id: "${{ steps.find-comment.outputs.comment-id }}"
          issue-number: "${{ github.event.pull_request.number }}"
          body: |
            ${{ steps.diff.outputs.diff }}   
          edit-mode: replace
