---
name: Schedule - Library Chart Update

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  library-chart-update:
    name: Library Chart Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-token
        with:
          app_id: "${{ secrets.APP_ID }}"
          private_key: "${{ secrets.APP_PRIVATE_KEY }}"
      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.6.3
      - name: Add library chart
        run: helm repo add k8s-at-home-library https://library-charts.k8s-at-home.com
      - name: Update helm repositories
        run: helm repo update
      - name: Update helm dependencies
        run: helm dep update
        working-directory: charts/kah-common
      - name: Create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          branch: github-action/renovate-kah-library-chart
          delete-branch: true
          title: "chore(github-action): update kah library chart"
          signoff: true
          commit-message: "chore(github-action): update kah library chart"
          body: |
            Update the kah library chart
          labels: |
            renovate/github-action
